:root {
    --color-white-50: #ffffff;
    --color-white-100: #fafafa;
    --color-white-200: #f0f0f0;
    --color-white-300: #e0e0e0;
    --color-white-400: #c2c2c2;
    --color-white-500: #a8a8a8;
    --color-white-500-5: #0000000d;
    --color-white-500-10: #0000001a;
    --color-white-500-20: #00000033;
    --color-white-600: #8f8f8f;
    --color-black: #050505;
    --color-white-700: #757575;
    --color-white: #ffffff;
    --color-white-800: #5c5c5c;
    --color-black-50: #ababab;
    --color-black-100: #919191;
    --color-black-200: #787878;
    --color-black-300: #5e5e5e;
    --color-black-400: #444444;
    --color-black-500: #333333;
    --color-black-500-0: #ffffff00;
    --color-black-500-5: #ffffff0d;
    --color-black-500-10: #ffffff1a;
    --color-black-500-20: #ffffff33;
    --color-black-600: #272727;
    --color-black-700: #1f1f1f;
    --color-black-800: #1a1a1a;
    --color-black-900: #0a0a0a;
    --color-grey-50: #f7f7f8;
    --color-grey-100: #e8e8ed;
    --color-grey-200: #d1d1db;
    --color-grey-300: #a9a9bc;
    --color-grey-400: #8a8aa3;
    --color-grey-500: #6c6c89;
    --color-grey-600: #55556d;
    --color-grey-700: #3f3f50;
    --color-grey-800: #282833;
    --color-grey-900: #121217;
    --color-blue-50: #f3faff;
    --color-blue-100: #e7f5ff;
    --color-blue-200: #cae6ff;
    --color-blue-300: #a0d6ff;
    --color-blue-400: #5db8ff;
    --color-blue-500: #1199ff;
    --color-blue-500-0: #1199ff00;
    --color-blue-500-10: #1199ff1a;
    --color-blue-500-60: #1199ff99;
    --color-blue-600: #0f8ae6;
    --color-blue-700: #0b73bf;
    --color-blue-800: #0a5c99;
    --color-blue-900: #084b7d;
    --color-purple-50: #f7f0ff;
    --color-purple-100: #eee1ff;
    --color-purple-200: #e3cdfe;
    --color-purple-300: #cfa7ff;
    --color-purple-400: #b578fd;
    --color-purple-500: #9946fc;
    --color-purple-500-0: #9946fc00;
    --color-purple-500-10: #9946fc1a;
    --color-purple-500-60: #9946fc99;
    --color-purple-600: #8122f1;
    --color-purple-700: #6a10d5;
    --color-purple-800: #5f17b5;
    --color-purple-900: #450f85;
    --color-red-50: #fff1f2;
    --color-red-100: #ffe4e6;
    --color-red-200: #fecdd3;
    --color-red-300: #fda4af;
    --color-red-400: #fb7185;
    --color-red-500: #f43f5e;
    --color-red-500-0: #f43f5e00;
    --color-red-500-10: #f43f5e1a;
    --color-red-500-60: #f43f5e99;
    --color-red-600: #e11d48;
    --color-red-700: #be123c;
    --color-red-800: #9f1239;
    --color-red-900: #881337;
    --color-yellow-50: #fffcf1;
    --color-yellow-100: #fffae4;
    --color-yellow-200: #fef4cd;
    --color-yellow-300: #fdeba4;
    --color-yellow-400: #fbdf71;
    --color-yellow-500: #f4d03f;
    --color-yellow-500-0: #f4d03f00;
    --color-yellow-500-10: #f4d03f1a;
    --color-yellow-500-60: #f4d03f99;
    --color-yellow-600: #e1ba1d;
    --color-yellow-700: #be9c12;
    --color-yellow-800: #9f8312;
    --color-yellow-900: #886e13;
    --color-green-50: #ebffee;
    --color-green-100: #e4ffed;
    --color-green-200: #cdfede;
    --color-green-300: #a4fdc3;
    --color-green-400: #71fba1;
    --color-green-500: #3ff47e;
    --color-green-500-0: #3ff47e00;
    --color-green-500-10: #3ff47e1a;
    --color-green-500-60: #3ff47e99;
    --color-green-600: #1de162;
    --color-green-700: #12be4e;
    --color-green-800: #129f43;
    --color-green-900: #13883c;
    --color-orange-50: #fff6f1;
    --color-orange-100: #ffede4;
    --color-orange-200: #feddcd;
    --color-orange-300: #fdc2a4;
    --color-orange-400: #fb9f71;
    --color-orange-500: #f47b3f;
    --color-orange-500-0: #f47b3f00;
    --color-orange-500-10: #f47b3f1a;
    --color-orange-500-60: #f47b3f99;
    --color-orange-600: #e15e1d;
    --color-orange-700: #be4b12;
    --color-orange-800: #9f4112;
    --color-orange-900: #883a13;
    --color-pink-50: #fff1fb;
    --color-pink-100: #ffe4f8;
    --color-pink-200: #fecdf1;
    --color-pink-300: #fda4e5;
    --color-pink-400: #fb71d6;
    --color-pink-500: #f43fc4;
    --color-pink-500-0: #f43fc400;
    --color-pink-500-10: #f43fc41a;
    --color-pink-500-60: #f43fc499;
    --color-pink-600: #e11dad;
    --color-pink-700: #be1290;
    --color-pink-800: #9f1279;
    --color-pink-900: #881369;
    --color-neutral-25: #f7f7f7;
    --color-neutral-50: #f2f2f2;
    --color-neutral-75: #ededed;
    --color-neutral-100: #e6e6e6;
    --color-neutral-150: #d9d9d9;
    --color-neutral-200: #cccccc;
    --color-neutral-250: #bfbfbf;
    --color-neutral-300: #b2b2b2;
    --color-neutral-400: #999999;
    --color-neutral-500: #808080;
    --color-neutral-600: #666666;
    --color-neutral-700: #4d4d4d;
    --color-neutral-800: #333333;
    --color-neutral-820: #2e2e2e;
    --color-neutral-850: #262626;
    --color-neutral-880: #1f1f1f;
    --color-neutral-900: #1a1a1a;
    --color-neutral-920: #141414;
    --color-neutral-950: #0d0d0d;
}
